/*
    Author: Hannan Sarkar;
    Theme: Food Order Website admin;
    version: 1.0;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: ghostwhite;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.margin-top{
    margin-top: 5px;
}

.clearfix{
    clear: both;
    float: none;
}

.a-color{
    color: #ff6b81;
    text-decoration: none;
}
.a-color:hover{
    color: #ff4757;
}

.menu ul li a{
    color: #ff6b81;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #ff4757;
}

.tbl-full{
    width: 100%;
}
.tbl-30{

}
.form_center{
    width: 20%;
}
.form_input{
    padding: 4%;
    width: 150%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: #3742fa;
}
.btn-secondary{
    background-color: #2ed573;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-secondary:hover{
    background-color: #26de81;
}
.btn-danger{
    background-color: #e25a45;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color: #ff0000;
}

.alert-success{
    border: 1px solid #a8fda8;
    padding: 1%;
    width: 100%;
    border-radius: 5px;
    background-color: #ddffdd;
}
.alert-warning{
    border: 1px solid #fae695;
    padding: 3%;
    width: 100%;
    border-radius: 5px;
    background-color: #fdf2c6;
}

/* CSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* css for main content section*/

.main_content{
    background-color: whitesmoke;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
    border-radius: 10px;
}

/* css for footer section*/
.footer{
    background-color: ghostwhite;
    padding: 2% 0;
}

/* css for login section*/

.btn-primary-login{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5PX;
    width: 101%;
    height: 32px;
}
.btn-primary-login:hover{
    background-color: #3742fa;
}

.form-container{
    border: 1px solid grey;
    width: 20%;
    margin: 4% auto;
    padding: 2%;
    border-radius: 5px;
}
.form-control{
    width: 96%;
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group{
    margin-bottom: 1%;
    font-weight: bold;
}