/* 
    Author: Hannan Sarkar;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #f6f5f5;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.main_content{
    background-color: whitesmoke;
    padding: 3% 0;
}
.tbl-full{
    width: 85%;
    border-bottom: 1em;
    margin-bottom: 1em;
}
.tbl-div{
    padding: 0 30px 0 30px;
}
.flex-display{
    display: flex;
    margin-left: 40px;
}
.flex-display > div{
    width: 100%;

}
.checkout-div{
    width: 82%;
    background-color: #ff4757;
    padding: 8px;
    text-align: center;
}
.checkout-div a{
    display: block;
    color: white;
}
.checkout-div a:hover{
    color: white;
}
.form_input{
    padding: 4%;
    width: 150%;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #5d5c5c;
    font-size: .9em;
}
th{
    text-transform: uppercase;
    letter-spacing: .05em;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.qty_input{
    width: 90px;
    height: 23px;
    border-radius: 5px;
    padding-left: 3px;
}
.qty_button{
    cursor: pointer;
    border: none;
}
.qty_span{
    border: 1px solid gray;
    padding: 6px 6px 9px 6px;
}
.qty_div{
    border: 1px solid grey;
    width: 60px;height: 25px;
    padding-top: 6px;
    margin-inline: auto;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

.margin-top{
    margin-top: 5px;
}
.border-radius{
    border-radius: 5px;
    padding: 0 0 0 2%;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover, .dropdown:hover .dropbtn{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid;
    padding: 3%;
    border-radius: 5px;
}
.alert-success{
    border: 1px solid #a8fda8;
    padding: 1%;
    width: 100%;
    border-radius: 5px;
    background-color: #ddffdd;
    text-align: center;
}
.alert-warning{
    border: 1px solid #fae695;
    padding: 1%;
    width: 80%;
    border-radius: 5px;
    background-color: #fdf2c6;
    text-align: center;
    margin-left: 10%;
}

/* CSSS for navbar section */

.logo{
    width: 7%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-left: -20px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: #ff6b81;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 6px 8px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show{
    display: block;
}
/* CSS for Food Search Section */

.food-search{
    background-image: url(../images/top-food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 42%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-view-box{
    width: 90%;
    margin: 1% 1% 1% 6%;
    padding: 6%;
    float: left;
}

.food-view-img{
    width: 30%;
    float: left;
}

.food-view-desc{
    width: 50%;
    float: left;
    margin-left:5%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.payment-div{
    margin-top: 30px;
    width: 85%;
}
.payment-div p{
    color: grey;
    margin-top: 10px;
}
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* css for login section*/

.btn-primary-login{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5PX;
    width: 101.5%;
    height: 32px;
}
.btn-primary-login:hover{
    background-color: #3742fa;
}

.form-container{
    border: 1px solid grey;
    width: 24%;
    margin: 6% auto;
    padding: 2%;
    border-radius: 5px;
}
.a-color{
   color: #1e90ff;
}
.a-color:hover{
    color: #3742fa;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 30%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
